.carousel {

  &-inner {

  }
  &-control-icon {
    padding: 1rem;
    transition: all .2s;

    &:hover {
      transform: scale(1.2);
    }
  }
  &-item {
    position: relative;
    height: 100vh; 
    min-height: 600px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
    transition-duration: 1.5s;
  }

  &-caption {
    top: 50%;  
    bottom: auto;
    transform: translate(0, -50%);
    animation: captionSlideIn 4s ease-in;

    &__heading {
      font-family: 'Lato', sans-serif;
      font-size: 3.3rem;
      font-weight: 300;
    }

    &__description {
      font-family: 'Martel-sans', sans-serif;
      font-size: 1.3rem;
      font-weight: 300;
      font-style: italic;
      color: rgba($white, 0.7);
    }
  }

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(25, 42, 86, 0.9), rgba(58, 12, 12, 0.5));
    transition: all 0.3s linear;
  }
}

@keyframes captionSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-700px);
  }
  45% {
    transform: translateY(-50%);
  }
  70% {
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}


