.options {
  @include section-padding();

  &__wrapper {
    @include make-container-max-widths();
    @include make-container();

    overflow: hidden;
  }

  &__row {
    @include make-row();

    position: relative;
  }

  &__box {
    @include make-col-ready();

    display: flex;
    flex-direction: column;
    background-color: rgba($black, 0.1);
    box-shadow: 0 0 5px rgba($yellow, 0.4);
    overflow: hidden;
    transition: all 1s ease;

    &:hover {
      opacity: 0.8;
      // transform: translateX(-100%);
    }

    &.show {
      transform: translateX(-100%);
    }
  }

  &__box-more {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
    transform: translateX(100%);

    &.show {
      transform: translateX(0);
    }
  }

  // &__offer {
  //   max-height: 0;
  //   overflow: hidden;
  //   background-color: transparent;
  //   transition: all 5s ease;

  //   &.is-visible {
  //       max-height: 100%;
  //       box-shadow: 0 0 10px rgba($black, 0.5);
  //         }
  // }

  // // &__list {
  //   max-height: 0;
  //   overflow: hidden;
  //   background-color: transparent;
  //   transition: all 0.3s ease-in-out;

  //   &.js-show {
  //     max-height: 100%;
  //     box-shadow: 0 0 10px rgba($black, 0.5);
  //       }
  // }
}