
.why-us {
  @include section-padding();

  transition: all 1s ease-in-out;
  opacity: 1;
  transform: scale(1) rotateX(360deg);

  &.fade-out {
    opacity: 0;
    transform: scale(0.8) rotateX(310deg);
  }

  &__heading {
    @include section-heading();
  }
}

.reasons {

  &__image {
    display: block;
    max-width: 100px;
    margin: 0 auto 1rem auto;
  }
 
  &__heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  &__paragraph {
    font-size: 1rem;
    text-align: justify;
  }
}   
