html {
  font-size: 0.9rem;

  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}



body {
  opacity: 1;
  transition: .3s opacity;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
}
body.fade-out {
  opacity: 0;
  transition: none;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
}


