@mixin section-padding($top: 4rem, $bottom: 4rem) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin section-heading($color: $black, $weight: 300) {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
  text-align: center;
  color: $color;
  padding: 2rem 0;
}

@mixin fancy-line($left, $bottom, $height, $width, $bg: $yellow, $center: false) {
  position: relative;
  
  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: $bottom;
    height: $height;
    width: $width;
    background-color: $bg;

    @if $center == true {
      left: 50%;
      transform: translateX(-50%);
    } @else {
      left: $left;
    }
  }
}