.accordion {
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0 0 12px rgba($black, 0.3);

  .collapse-btn {
    background-color: rgba($white, 0.85);
    padding: 1rem .4rem;
    text-align: center;
    background-color: rgba($yellow, 0.9);
    color: $white;
    transition: all .3s ease;


    &.collapsed {
      background-color: rgba($white, 0.85);
      color: $black;

      &:hover {
        background-color: rgba($yellow, 0.9);
        color: $white;
      }
    }
  }

  .card-body {
    background-color: rgba($white, 0.85);
    border-bottom: 1px solid rgba($black, 0.3);
  }

  // &__heading {
  //   background-color: rgba($white, 0.9);
  //   padding: 1rem;
  //   transition: all 0.3s ease;
  //   color: $black;
  //   border-bottom: 1px solid $yellow;

  //   &:hover {
  //     background-color: rgba($white, 1);
  //     color: $black;
  //   }

  //   &.open {
  //     background-color: rgba($white, 0.9);
  //     color: $yellow;
  //     border-bottom: 1px solid $white;

  //     &:hover {
  //       background-color: rgba($white, 0.9);
  //     }
  //   }

  //   h2 {
  //     color: inherit;
  //     text-align: center;
  //   }

  //   p {
  //     font-size: 1.3rem;
  //   }
  // }

  // &__content {
  //   background-color: rgba($white, 1);
  //   overflow: hidden;
  // }
}