.brands {
  padding: 1rem 0;

  &__heading {
    @include section-heading();

    font-size: 2rem;
  }
  &__carousel {
    position: relative;
    overflow: hidden;
    height: 200px;

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($white, 0.2);
    }

    &:focus {
      outline: none;
    }
  }

  &__item {
    height: 100%;
    width: 50%;
    display: inline-block;
    
    @include media-breakpoint-up(md) {
      width: 100% / 3;
    }

    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }

  &__image {
      display: block;
      margin: auto;
  }
}
