.btn {
  padding: .7rem 1rem;
  color: $black;
  font-family: map-get($fonts, btn), sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  border: 2px solid $yellow;
  position: relative;
  white-space: nowrap;
  transition: all 0.3s ease;

  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    box-shadow: none;
    z-index: -1;
    transition: all .3s ease;
  }

  &:focus {
    outline: none;
    border: 2px solid $yellow;
  }

  &--primary {
    background-color: transparent;
    color: $white;

    &::after {
      width: 0;
      background-color: rgba($black, 0);
    }

    &:hover {

      &::after {
        width: 100%;
        background-color: $yellow;
      }
    }

    &:focus {
      box-shadow: 0 0 2px rgba($black, 0.7);
    }

    &:active {
      border: 2px solid $yellow;
    }
  }

  &--secondary {
    background-color: transparent;
    z-index: 20;
    color: $white;

    &::after {
      width: 100%;
      background-color: rgba($yellow, 1);
    }

    &:hover {
      color: $black;
      box-shadow: none;
      opacity: 0.6;

      &::after {
        width: 0;
        background-color: rgba($yellow, 0);
        box-shadow: none;
      }
    }

    &:focus {
      box-shadow: 0 0 2px rgba($black, 0.7);
    }

    &:active {
      border: 2px solid $yellow;
      animation: btnPush 1s ease;
    }

  }
  





  // &:active:not(.btn--header) {
  //   
  // }

  

  &--header {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);

    &:active {
      animation: btnHeaderPush 0.3s ease;
    }
  }

  &--accordion {
    border: 2px solid $white;
  }
}

@keyframes btnPush {
  0% { transform: scale(1); }
  55% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes btnHeaderPush {
  0% { transform: translateX(-50%) scale(1); }
  55% { transform: translateX(-50%) scale(0.9); }
  100% { transform: translateX(-50%) scale(1); }
}