.services-page {
  background: linear-gradient(rgba(rgba($white, 1), 0.85), rgba(rgba($white, 1), 0.9)), url(../../images/options-bg.jpg) no-repeat center;
  background-size: cover;
  // background-attachment: fixed;


  // tymczasowo 
  min-height: 100vh;
}